body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.footer.container py-5 {
  background-color: #C8ACAE;
}

.d-block {
  height: 50 px;
}

a {
  /* color: #007bff; */
  color: black;
  text-decoration: none;
  background-color: transparent;
}

.bg-light {
  /* background-color: #f8f9fa!important; */
  background-color: #C8ACAE;
}

.table td {
  text-align: center;
  vertical-align: left;
}

.e-commerce-container{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  justify-content: center;
}

.item-card-simplified{
  display: flex;
  justify-content: space-between;
}

.cart-button {
  margin: auto;
  display: flex;
  border: 2px solid rgb(70, 70, 136);
  background-color: rgb(64, 73, 112);
  color: white;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
  margin: auto;
}

.cart-button:hover {
  background-color: silver;
  transition: 0.1s ease-in;
}

.item-card-simplified > *,  .item-card-simplified > * > *{
  margin: 2px;
}

.item-card-simplified > div {
  display: flex;
}

.item-card-simplified-image {
  display: block;
  height: 20px;
  width: 20px;
}

.item-card-simplified-button {
  margin: auto;
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  height: 20px;
  cursor: pointer;
  margin-right: 0;
  margin-left: 2px;
}

.item-button {
  margin: auto;
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
  font-size: 1.05em;
}

.item-button:focus, .item-card-simplified-button:focus, .cart-button:focus{
  outline: 0;
}

.item-button:hover, .item-card-simplified-button:hover {
  background-color: silver;
  transition: 0.1s ease-in;
}

.item-card {
  background-color: #F5F5F5;
  color: rgb(100, 93, 93);
  border-radius: 5px;
  padding: 10px;
}

.main-component {
  box-sizing: border-box;
  padding: 5px;
  margin: 0 10%;
  height: 85vh;
  text-align: center;
  /* overflow-y: scroll; */
  background-color: white;
}

.item-image {
  display: block;
  width: 100%;
  height: 175;
  margin: 0;
}

.icon {
  width: 20px;
  height: 20px;
}

.order-component {
  border: 2px solid rgb(67, 68, 71);
  padding: 4px;
  margin: 4px;
  
}

.order-item {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  justify-content: center;
}

select {
  border: 2px solid white;
  border-right: none;
  display: block;
  height: 30px;
  background-color: white;
}

select:focus {
  outline-color: silver;
}

input[type=text] {
  padding: 0;
  border: 0;
  border-radius: 5px;
  width: 30em;
  border-left: none;
  background-color: white;
  display: block;
  height: 30px;
}

input[type=text]:focus{
  outline-color: silver;
}

.filter {
  display: flex;
}
