/* 
navbar {
    padding: 0.5rem;
    box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.75);
  }
  
  navbar .top-nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
  }
  
  navbar .top-nav .logo {
    order: 1;
    color: var(--orange);
  }
  
  navbar .top-nav .search {
    order: 3;
    margin: 0 1rem;
    flex: 1 1 auto;
    padding: 0.5rem;
    display: flex;
    width: 100%;
  }
  
  header .top-nav .search input {
    border: none;
  }
  
  header .top-nav .search input[type="text"] {
    font-size: 1rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-top: 1px solid var(--gray);
    border-left: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    width: 90%;
    padding: 1rem;
    background-color: var(--light-gray);
    transition: all 0.2s;
  }
  
  navbar .top-nav .search input[type="submit"] {
    font-size: 1.5rem;
    padding: 0 1rem;
    color: transparent;
    text-shadow: 0 0 0 var(--gray);
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    background-color: var(--light-gray);
    cursor: pointer;
    transition: all 0.1s;
  }
  
  navbar .top-nav .search input[type="text"]:focus {
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border-top: 1px solid var(--black);
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
  } 
  
  navbar .top-nav .search input[type="text"]:focus + input[type="submit"] {
    background-color: var(--black);
    text-shadow: 0 0 0 var(--light-gray);
    border-top: 1px solid var(--black);
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
  }
  
  navbar .top-nav nav {
    order: 2;
    display: flex;
    align-items: center;
  } */
   